@page
@{
	Layout = "Shared/_GameLayout";
}

@model CityVilleDotnet.Api.Pages.GameModel

@section Header {
	<script type="text/javascript" src="jquery.min.js"></script>
	<script type="text/javascript" src="flash_integration.min.js"></script>
	<script type="text/javascript" src="swfobject.min.js"></script>
	<script type="text/javascript" src="ruffle/ruffle.js"></script>
}

<div class="gamePage">
	<div class="tabs">
		<div class="tab-content">
			<div class="tab selected">
				<a asp-page="/Game" title="Game">Game</a>
			</div>

			<div class="tab">
				<a asp-page="/Friends/List" title="Friends">Friends</a>
			</div>
		</div>

		<div class="tab-content">
			<div class="tab">
				<a href="#" title="Username">@Model.UserName</a>
			</div>

			<div class="tab">
				<a asp-page="/Account/Logout" title="Logout">Disconnect</a>
			</div>
		</div>
	</div>

	<div style="width:760px;height:594px;">
		<div id="flashOuterContainer">
			<div id="flashContent">
				<object id="flashapp" name="flashapp" width="760" height="594" type="application/x-shockwave-flash" data="Preloader.swf">
					<param name="flashvars" value="serverTime=@Model.ServerTime&zySnid=0&zySnuid=@(Model.Uid)&zyUid=@(Model.Uid)&zyAuthHash=@(Model.Uid)&zySig=@(Model.Uid)&app_url=@(Request.Scheme)://@(Request.Host)@(Request.PathBase)/&sn_app_url=&asset_url=.&swfLocation=Game.26346.swf?skipFacebook=true&snapiEnable=1&generateSchema=1&debugMode=true&game_config_url=gameSettings.xml&localization_url=en.xml&quest_url=questSettings.xml&effects_config_url=effectsConfig.xml&flashRevision=26346&preMusic=hashed/54f32a1258f75c007b8ad50b08a90fa4.mp3&preIntro=hashed/b108f1182bc7bf0e13d74b9d350ba28b.mp4" />
				</object>
			</div>
		</div>
	</div>
</div>

<script>
	var g_preBlurbs = ["Fluffing Clouds", "Installing Parks", "Opening Schools", "Commencing Commerce", "Building Playgrounds", "Redirecting Traffic", "Sweeping Sidewalks", "Skip Intro", "Build the City of Your Dreams!"];
	var g_experiments = [{"name": "cv_example_test", "variant": false}, {
		"name": "cv_market_auto_close",
		"variant": "1"
	}, {"name": "cv_gift_flash_fork", "variant": 1}, {
		"name": "city_delete_requests",
		"variant": 1
	}, {"name": "cv_invite_friends_mfs", "variant": false}, {
		"name": "cv_invite_friends_mfs_height",
		"variant": 3
	}, {"name": "cv_crew_popup_mfs", "variant": false}, {
		"name": "cv_email_farmville_friends",
		"variant": false
	}, {"name": "cv_increment_dashboard_count_async", "variant": false}, {
		"name": "cv_d2_inviteneighbor_prompt",
		"variant": false
	}, {"name": "cv_ftv_with_marketing", "variant": false}, {
		"name": "cv_doober_tracking",
		"variant": false
	}, {"name": "cv_show_share", "variant": false}, {
		"name": "cv_city_cash_seld_id",
		"variant": 3
	}, {"name": "cv_addfriend_lhs", "variant": "1"}, {
		"name": "cv_coin_package_conversion_test",
		"variant": false
	}, {"name": "cv_nps_survey", "variant": false}, {
		"name": "cv_survey_overlay_test",
		"variant": false
	}, {"name": "cv_recommendfriendsNonCity", "variant": false}, {"name": "cv_quest_manager", "variant": false}];

	function getUserInfo() {
		console.log("getUserInfo called");

		return {
			"zid": "@(Model.Uid)",
			"uid": "@(Model.Uid)",
			"first_name": "@Model.UserName",
			"name": "@Model.UserName",
			"sex": "M",
			"pic_square": "blank.png",
			"level": @(Model.Level)
		};
	}

	function getFriendData() {
		console.log("getFriendData called");

		return @Html.Raw(Model.FriendList);
	}

	function getAppFriendIds() {
		console.log("getAppFriendIds called");
		return [];
	}

	function onGameLoaded(seen, popp, canvas) {
		console.log("Game is loaded " + seen + ", " + popp + ", " + canvas);
	}

	window.ZYFrameManager = {
		"reloadApp": function () {
			console.log("Reload App");
			window.location.reload();
		},
		"navigateTo": function (a, b, c) {
			console.log("Navigate To" + a + " - " + b + " - " + c);
		},
		"openTab": function (a, b, c) {
			console.log("Open Tab" + a + " - " + b + " - " + c);
		},
		"switchToTab": function (a) {
			console.log("Switch To Tab" + a);
		}
	}

	window.RufflePlayer = window.RufflePlayer || {};
	window.RufflePlayer.config = {
		allowScriptAccess: true,
		autoplay: "on",
		unmuteOverlay: "hidden",
		logLevel: "warn",
		polyfills: true,
		allowFullscreen: true,
		wmode: "window",
		// parameters are not working
	};
</script>
